<div class="d-flex align-items-center border-bottom sidebar-items" routerLink="/home" skipLocationChange="true">
    <div class="flex-shrink-0">
        <img alt="right-arrow" src="assets/left-arrow.svg" width="16" height="16" decoding="async" data-nimg="1"
            loading="lazy" style="color: transparent; margin-right: 1rem;">
    </div>
    <div class="flex-grow-1 py-3">
        Skills And Experise
    </div>
</div>

<div class="skill-container">
    <div ngbAccordion [closeOthers]="true">
        @for (skillitem of skills; track skillitem) {
            <div ngbAccordionItem [collapsed]="skillitem.id !== 1" class="collapse-expand-item">
                <div ngbAccordionHeader class="accordion-button custom-header py-0 justify-content-between">
                    <button ngbAccordionButton class="collapse-expand-btn">{{ skillitem.name }}</button>
                    <i class="bi show-hide-section" [ngClass]="skillitem.isHidden?'bi-eye-slash':'bi-eye'" (click)="changeVisibility(skillitem.name)"></i>
                </div>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <div *ngFor="let item of skillitem.items">
                            <span>{{item?.name}}</span>
                            
                            
                        </div>
                        <div class="d-flex bd-highlight" *ngIf="!showAddMore">
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <label class="input-label" for="Language">Language*</label>
                                <input type="text" [(ngModel)]="skillDataObject[skillitem.name]" class="form-control" placeholder="Language*" /> 
                            </div>
                            <div class="p-2">
                                <range-slider (sliderValue)="sliderVal($event,skillitem.name)"></range-slider>
                            </div>
                        </div>
                        <button *ngIf="showAddMore" (click)="showAddMore=!showAddMore" type="button" class="btn btn-light">
                            ADD {{skillitem.name | uppercase}}
                        </button>
                        <div class="d-flex justify-content-between" *ngIf="!showAddMore">
                            <button type="button" class="btn btn-light" [disabled]="!skillDataObject[skillitem.name]" (click)="formDataForProcess(skillitem.name)">Add</button>
                            <button type="button" class="btn btn-light" (click)="showAddMore=!showAddMore" >Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
