<div class="d-flex align-items-center border-bottom sidebar-items" routerLink="/home" skipLocationChange="true">
    <div class="flex-shrink-0">
        <img alt="right-arrow" src="assets/left-arrow.svg" width="16" height="16" decoding="async" data-nimg="1"
            loading="lazy" style="color: transparent; margin-right: 1rem;">
    </div>
    <div class="flex-grow-1 py-3">
        Skills And Experise
    </div>
</div>

<div class="skill-container">
    <div ngbAccordion [closeOthers]="true">
        @for (item of items; track item) {
            <div ngbAccordionItem [collapsed]="item !== 'First'" class="collapse-expand-item">
                <div ngbAccordionHeader class="accordion-button custom-header py-0 justify-content-between">
                    <button ngbAccordionButton class="collapse-expand-btn">{{ item }}</button>
                    <i class="bi bi-eye"></i>
                </div>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                            you probably haven't heard of them accusamus labore sustainable VHS.
                        </ng-template>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
